.cssQuesContainer{
   
    padding: 1rem;
    header>.heading{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;

        img{
            height: 30px;
            width: 30px;
        }
    }

     main{
        .controls{
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                margin: 10px;
            }

            .progressBar{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;

                .progress{
                    width: 80%;
                }
            }
        }
    }
}