*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
.card{
    min-height: 300px;
    padding: 0.5rem;
    .input{
        width: 90%;
        height: 250px;
        background: none;
        margin: 10px;
        border-radius: 10px;
        padding: 1rem;
    }
    // .saved{
    //     background-color: aqua;
    // }
}