<mat-card appearance="outlined" class="card">
    <app-card-header [index]="index()" [question]="questions()" [type]="type()"></app-card-header>
    <mat-card-content>
        <form action="">
            @if(options()){

            @if(type()=="checkbox"){
            <section class="section" [formControl]="answer">
                @for(option of options();track $index){
                <p><mat-checkbox [value]="option">{{option}}</mat-checkbox></p>
                }
            </section>
            }

            @else if(type()=="radio"){
            <mat-radio-group [formControl]="answer">
            @for(option of options();track $index){
            <mat-radio-button class="example-radio-button" [value]="option">{{option}}</mat-radio-button>
            }
            </mat-radio-group>
            }
            }
            @else{
            <textarea class="input" matInput placeholder="Enter your answer here" [formControl]="answer"></textarea>
            }
        </form>
    </mat-card-content>

    <app-button class="button" [class]="isSaved()?'saved':''" [label]="isSaved()?'Saved':'Save'" (click)="onSave(id())"></app-button>
     <!-- <button  [class]="isSaved()?'saved':''" (click)="onSave(id())">{{isSaved()?'Saved':'Save'}}</button> -->
</mat-card>